POSTGRES_DB=supermercado
POSTGRES_USER=supermercado
POSTGRES_PASSWORD=supermercado

RABBITMQ_USER=supermercado
RABBITMQ_PASSWORD=supermercado

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_BACKEND_CLIENT_SECRET=supermercado-backend-secret
